@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this to your CSS file or your Tailwind CSS setup */
.modal-enter {
  opacity: 0;
  transform: translateY(100%);
}

.modal-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-exit {
  opacity: 1;
  transform: translateY(0);
}

.modal-exit-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
